

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background);
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: auto;
}

header {
    inset: 0 0 auto 0;
    z-index: 10;
}

header .logo img {
    width: 10rem;
    margin-left: -20px;
}

header .area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

header .menu-opener {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

header .hamburger-icon {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

header .hamburger-icon span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: #000;
}

header .close-icon {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header .close-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: #000;
}

header .close-icon span:first-child {
    transform: rotate(45deg);
}

header .close-icon span:last-child {
    transform: rotate(-45deg);
}

header nav {
    background-color: var(--background);
    color: var(--third);
    overflow-y: hidden;
    max-height: 0;
    transition: all ease .5s;
    padding: 0 4.5rem;
}

header nav.opened {
    max-height: 100vh;
}

header nav ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

header nav li {
    padding: 1rem 0rem;
}

header nav a {
    color: var(--third);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

header nav a:hover {
    opacity: 0.8;
}

header .user-enter {
    display: flex;
}

header .user-enter a {
    color: var(--secondary);
}

.dropdown-menu a {
    padding: 0;
    border: none;
    color: #000;
    font-weight: 500;
}

section .area-banner {
    display: flex;
    justify-content: space-between;
    padding-top: 74px;
    padding-bottom: 90px;
}

section .left-side {
    width: 500px;
}

section .left-side h2 {
    font-size: 48px;
    font-weight: 900;
}

section .left-side p {
    font-size: 16px;
    font-weight: 600;
    color: var(--third);
    padding-top: 30px;
}

section .left-side h2 span {
    color: var(--secondary);
}

section .right-side {
    padding-left: 20px;
}

section .right-side img{
    width: 615px;
}


section .background-filter {
    background-color: var(--foreground);
    height: 100vh;
}

section .title-filter {
    display: flex;
    justify-content: center;
    padding: 71px 0px 34px;
}

section .title-filter h2 {
    font-size: 32px;
}

section .card-filter {
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 15px;
}

section .card-filter {
    background-color: var(--cardBackground);
    box-shadow: var(--shadow);
    border-radius: 15px;
}

.filter .box-form {
    padding-top: 55px;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
}

.filter .headline {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.filter .headline img {
    margin-right: 7px;
    width: 12px;
}

.filter .headline .title-headline {
    font-size: 18px;
    font-weight: 600;
}

.filter form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.filter form input,
.filter form select {
    width: 309px;
    background-color: var(--background);
    border: none;
    height: 46px;
    outline: none;
    margin-bottom: 50px;
    padding: 0px 5px;
    border-radius: 3px;
}

.form-group button{
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    padding: 12px 0px;
    width: 309px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
}

.form-group button:hover {
    opacity: 0.8;
}

.column-button {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}


@media (max-width: 600px) {
   
    section .area-banner {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    section .left-side {
        width: 80%;
        padding: 0 20px;
    }

    section .left-side h2 {
        font-size: 42px;
    }

    section .left-side p{
        font-size: 16px;
    }

    section .right-side  {
        display: none;
    }
    
    .filter {
        padding: 0px 20px;
    }

    .filter .title-filter h2{
        font-size: 25px;
        text-align: center;
    }

    section .background-filter {
        height: auto;
    }

    section .card-filter .box-form {
        padding: 40px;
    }

    section .card-filter form {
        grid-template-columns: 1fr;
    }

    section .title-headline {
        font-size: 15px;
    }

    .filter .headline img {
        width: 18px;
    }

    section .card-filter form input,
    section .card-filter form select {
        width: 100%;
        margin-bottom: 20px;
    }

    header .user-enter img {
        display: none;
        width: 28px;
        margin-right: 6px;
    }
    header .user-enter .arrow-dowm {
        width: 15px;
        margin-left: 5px;
        display: block;
    }

}


@media (width > 900px) {
    header .menu-opener {
        display: none;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .area {
        padding: 0;
    }

    header .logo img{
        margin: 0;
    }

    header nav {
        max-height: 100vh;
        padding: 0;
    }

    header nav ul {
        align-items: center;
        flex-direction: row;
        padding-bottom: 0;
    }

    header nav li {
        padding: 1rem 2rem;
    }

    header nav a {
        border: 1px solid var(--third);
        border-radius: 3px;
        padding: 12px 40px;
        font-size: 15px;
    }

    header nav li img {
        width: 31px;
    }

    .user-enter{
        display: flex;
        align-items: center;
    }

    .user-enter a{
        border: none;
        color: var(--secondary);
        padding: 0;
        padding-left: 13px;
    }

    .user-enter a:hover {
        background-color:transparent;
        color: var(--secondary);
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        text-align: right;
    }

    .options-dropdowm {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .dropdown-menu li {
        padding: 5px 0px;
    }

    .dropdown-menu a {
        padding: 0;
        border: none;
        color: #000;
        font-weight: 500;
    }

    .arrow-dowm {
        width: 12px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .arrow-dowm:hover {
        cursor: pointer;
    }

}