* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background);
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: auto;
}

header {
    inset: 0 0 auto 0;
    z-index: 10;
    padding: 35px 0px;
}

header .logo img {
    width: 62px;
}

header .area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

header .menu-opener {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

header .hamburger-icon {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

header .hamburger-icon span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: #000;
}

header .close-icon {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header .close-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: #000;
}

header .close-icon span:first-child {
    transform: rotate(45deg);
}

header .close-icon span:last-child {
    transform: rotate(-45deg);
}

header nav {
    background-color: var(--background);
    color: var(--third);
    overflow-y: hidden;
    max-height: 0;
    transition: all ease .5s;
    padding: 0 4.5rem;
}

header nav.opened {
    max-height: 100vh;
}

header nav ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

header nav li {
    padding: 1rem 0rem;
}

header nav a {
    color: var(--third);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

header nav a:hover {
    opacity: 0.8;
}

header .user-enter {
    display: flex;
}

header .user-enter a {
    color: var(--secondary);
}

.dropdown-menu a {
    padding: 0;
    border: none;
    color: #000;
    font-weight: 500;
}

section .area-banner {
    display: flex;
    justify-content: space-between;
    padding-top: 74px;
    padding-bottom: 90px;
}

section .left-side {
    width: 520px;
}

section .left-side h2 {
    font-size: 52px;
    font-weight: 900;
}

section .left-side p {
    font-size: 16px;
    font-weight: 600;
    color: var(--third);
    padding-top: 30px;
}

section .left-side h2 span {
    color: var(--secondary);
}

section .right-side {
    padding-left: 20px;
}

section .right-side img {
    width: 645px;
}

section .background-filter {
    background-color: var(--foreground);
    padding-bottom: 168px;
}

section .title-filter {
    display: flex;
    justify-content: center;
    padding: 71px 0px 34px;
}

section .title-filter h2 {
    font-size: 32px;
}

section .card-filter {
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 15px;
}

section .card-filter {
    background-color: var(--cardBackground);
    box-shadow: var(--shadow);
    border-radius: 15px;
}

.filter .box-form {
    padding-top: 55px;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
}

.filter .headline {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.filter .headline img {
    margin-right: 7px;
    width: 12px;
}

.filter .headline .title-headline {
    font-size: 18px;
    font-weight: 600;
}

.filter form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.filter form input,
.filter form select {
    width: 309px;
    background-color: var(--background);
    border: none;
    height: 46px;
    outline: none;
    margin-bottom: 50px;
    padding: 0px 5px;
    border-radius: 3px;
}

.form-group button {
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    padding: 12px 0px;
    width: 309px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
}

.form-group button:hover {
    opacity: 0.8;
}

.column-button {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.about-us {
    padding-top: 67px;
}

.box-about-us {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 65px;
    padding-top: 76px;
}

.title-about-us {
    display: flex;
    justify-content: center;
}

.title-about-us h2 {
    text-align: center;
    font-size: 32px;
}

.box-about-us-image {
    display: flex;
    justify-content: center;
}

.about-us-group img {
    width: 52px;
    padding-bottom: 10px;
}

.title-about-us-group h2 {
    font-size: 18px;
    text-align: center;
}

.desc-about-us-group {
    font-size: 15px;
    color: var(--third);
    padding-top: 16px;
    text-align: justify;
    padding-top: 17px;
}

.brands {
    padding-top: 150px;
}

.strip {
    background-color: var(--secondary);
    width: 100%;
    height: 235px;
    overflow-x: hidden;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 78px;
    padding: 55px 0px;
}

.logos img:nth-child(4) {
    width: 125px;
}

.logos img {
    width: 100px;
}

.contact {
    padding-top: 110px;
}

.title-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-contact h2 {
    text-align: center;
    font-size: 32px;
    padding-bottom: 131px;
}

.area-contact {
    display: flex;
    justify-content: space-between;
}

.area-contact .left-side-contact {
    width: 457px;
}

.area-contact .right-side-contact {
    width: 611px;
}

.desc-contact p {
    font-size: 20px;
    color: var(--third);
    font-weight: 500;
}

.card-social-media {
    background-color: var(--cardBackground);
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding: 36px;
    width: 360px;
    margin-top: 56px;
}

.title-social-media {
    padding-bottom: 25px;
}

.social-icons {
    display: flex;
    align-items: center;
}

#icon-email {
    width: 39px;
    margin-right: 9px;
}

.social-icons img {
    width: 26px;
    padding-bottom: 28px;
}

.card-social-media p {
    line-height: 1.4;
    font-weight: 500;
}

.card-contact {
    background-color: var(--cardBackground);
    padding: 24px 53px;
    border-radius: 15px;
    box-shadow: var(--shadow);
}

.card-contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    font-weight: 700;
    padding-top: 38px;
}

.card-contact form input {
    background-color: var(--background);
    outline: none;
    border: none;
    height: 42px;
    margin-top: 13px;
    padding-left: 5px;
}

.card-contact textarea {
    background-color: var(--background);
    border: none;
    margin-top: 17px;
    padding: 5px;
    outline: none;
}

.card-contact button {
    background-color: var(--secondary);
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 15px 0px;
    border-radius: 5px;
    margin-top: 51px;
    font-size: 18px;
}

.card-contact button:hover {
    opacity: 0.8;
}

/* FOOTER */

footer {
    background-color: var(--secondary);
    margin-top: 224px;
}

.box-footer {
    display: flex;
    justify-content: space-between;
    padding: 75px 0px;
}

.left-side-footer {
    flex: 1;
}

.right-side-footer {
    flex: 1;
    padding-top: 12px;
}

.left-side-footer .links a {
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding-right: 23px;
}

.left-side-footer .links a:hover {
    text-decoration: underline;
}

.social-icons-footer {
    display: flex;
    align-items: center;
    padding-top: 49px;
}

.social-icons-footer img {
    width: 30px;
    margin-right: 7px;
}

.mail-footer {
    color: var(--white);
    font-size: 15px;
    padding-top: 7px;
}

.right-side-footer h2 {
    color: var(--white);
    font-size: 22px;
    padding-bottom: 15px;
}

.right-side-footer p {
    color: var(--white);
    font-size: 18px;
    line-height: 1.4;
}

.copy {
    display: flex;
    justify-content: center;
}

.copy a {
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
}

#footer-email {
    width: 40px;
}

@media (max-width: 600px) {

    section .area-banner {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    section .left-side {
        width: 80%;
        padding: 0 20px;
    }

    section .left-side h2 {
        font-size: 42px;
    }

    section .left-side p {
        font-size: 16px;
    }

    section .right-side {
        display: none;
    }

    .filter .title-filter h2 {
        font-size: 25px;
        text-align: center;
    }

    section .background-filter {
        height: auto;
        padding: 20px;
    }

    section .card-filter .box-form {
        padding: 20px;
    }

    section .card-filter form {
        grid-template-columns: 1fr;
    }

    section .title-headline {
        font-size: 15px;
    }

    .filter .headline img {
        width: 18px;
    }

    .box-form form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-group.column-button {
        display: flex;
        justify-content: center;
    }

    section .card-filter form input,
    section .card-filter form select {
        width: 100%;
        margin-bottom: 20px;
    }

    header .user-enter img {
        display: none;
        width: 28px;
        margin-right: 6px;
    }

    header .user-enter .arrow-dowm {
        width: 15px;
        margin-left: 5px;
        display: block;
    }

    .about-us {
        padding: 20px;
    }

    .box-about-us {
        grid-template-columns: 1fr;
    }

    .title-about-us h2 {
        padding-top: 50px;
        font-size: 21px;
    }

    .desc-about-us-group {
        display: flex;
        justify-content: center;
    }

    .desc-about-us-group p {
        width: 70%;
        font-size: 14px;
    }

    .strip {
        height: auto;
    }

    .logos {
        justify-content: center;
        gap: 14px;
        padding: 30px 0px;
    }

    .logos img:nth-child(4) {
        width: 65px;
    }

    .logos img:nth-child(5),
    .logos img:nth-child(6) {
        display: none;
    }

    .logos img {
        width: 55px;
    }

    .contact {
        padding: 20px;
        padding-top: 81px;
    }

    .title-contact {
        padding-bottom: 5%;
    }

    .title-contact h2 {
        font-size: 25px;
        padding-bottom: 12px;
    }

    .desc-contact p {
        font-size: 16px;
        text-align: center;
    }

    .area-contact {
        flex-direction: column;
    }

    .area-contact .left-side-contact,
    .area-contact .right-side-contact {
        width: 100%;
    }

    .card-social-media {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 50px;
    }

    .title-social-media {
        font-size: 15px;
    }

    .card-contact {
        padding: 5% 8%;
    }

    .card-contact form label {
        padding-top: 5%;
    }

    .card-contact form input,
    .card-contact textarea {
        width: 100%;
    }

    .card-contact button {
        width: 100%;
        margin-top: 10%;
    }

    footer {
        padding: 20px;
    }

    .box-footer {
        flex-direction: column;
    }

    .left-side-footer .links {
        display: flex;
        justify-content: space-between;
    }

    .left-side-footer .links a {
        font-size: 18px;
        padding: 0;
    }

    .social-icons-footer img {
        width: 25px;
    }

    #footer-email {
        width: 35px;
    }

    .right-side-footer {
        padding-top: 54px;
    }

    .right-side-footer h2 {
        font-size: 18px;
    }

    .right-side-footer p {
        font-size: 15px;
        line-height: 1.8;
    }

    .copy a {
        font-size: 15px;
    }


    
}
@media (width > 900px) {
        header .menu-opener {
            display: none;
        }

        header .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header .area {
            padding: 0;
        }

        header .logo img {
            margin: 0;
        }

        header nav {
            max-height: 100vh;
            padding: 0;
        }

        header nav ul {
            align-items: center;
            flex-direction: row;
            padding-bottom: 0;
        }

        header nav li {
            padding: 1rem 2rem;
        }

        header nav a {
            border: 1px solid var(--third);
            border-radius: 3px;
            padding: 12px 40px;
            font-size: 15px;
        }

        header nav li img {
            width: 31px;
        }

        .user-enter {
            display: flex;
            align-items: center;
        }

        .user-enter a {
            border: none;
            color: var(--secondary);
            padding: 0;
            padding-left: 13px;
        }

        .user-enter a:hover {
            background-color: transparent;
            color: var(--secondary);
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            text-align: right;
        }

        .options-dropdowm {
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

        .dropdown-menu li {
            padding: 5px 0px;
        }

        .dropdown-menu a {
            padding: 0;
            border: none;
            color: #000;
            font-weight: 500;
        }

        .arrow-dowm {
            width: 12px;
            margin-top: 5px;
            margin-left: 5px;
        }

        .arrow-dowm:hover {
            cursor: pointer;
        }

    }