.filter {
    background-color: var(--foreground);
    padding-bottom: 50px;
}

.title-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.title-filter h2 {
    font-size: 32px;
    text-align: center;
}

.card-filter {
    background-color: var(--cardBackground);
    border-radius: 15px;
    box-shadow: var(--shadow);
    max-width: 1240px;
    width: 100%;
    margin-top: 34px;
}

.box-filter {
    padding: 65px;
}

.group-1,
.group-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.group-2 {
    margin-top: 50px;
}

.headline {
    display: flex;
    margin-bottom: 8px;
}

.headline .title-headline {
    font-weight: 600;
    font-size: 18px;
}

.headline img {
    margin-right: 7px;
}

.itens-filter {
    max-width: 329px;
    width: 100%;
}

.itens-filter input,
.itens-filter select{
    background-color: var(--background);
    border: none;
    border-radius: 3px;
    outline: none;    
    width: 100%;
    padding: 13px 5px;
}

.itens-filter button {
    width: 100%;
    background-color: var(--secondary);
    color: var(--white);
    font-weight: 700;
    box-shadow: var(--sombra);
    border: none;
    border-radius: 5px;
    padding: 13px 0px;
    margin-top: 30px;
    font-size: 18px;
}

.itens-filter button:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .title-filter {
        padding-top: 40px; 
    }

    .title-filter h2 {
        font-size: 28px;
    }
    
    .box-filter {
        padding: 50px; 
    }

    .group-1,
    .group-2 {
        flex-direction: column;
        gap: 20px; 
    }

    .group-2 {
        margin-top: 40px; 
    }

    .headline .title-headline {
        margin-bottom: 8px; 
    }

    .itens-filter {
        max-width: none; 
    }
}

@media (max-width: 480px) {

    .filter {
        padding: 10px;
    }

    .group-1,
    .group-2 {
        flex-direction: column;
    }

    .group-2 {
        margin: 0;
        padding-top: 40px;
    }

    .title-filter h2 {
        font-size: 25px;
    }

    .box-filter {
        padding: 30px 16px;
    }

    .title-filter {
        padding-top: 30px;
    }
    
    .itens-filter button {
        margin-top: 10px;
    }
    

}