* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background);
}

.container {
    width: 90%;
    max-width: 1240px;
    margin: auto;
}

.caixa {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.caixa-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}